<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN"
  "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.feralfrequencies.pthkd</string>

    <key>ProgramArguments</key>
    <array>
        <string>/Applications/pthkd.app/Contents/MacOS/pthkd</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>

    <key>StandardOutPath</key>
    <string>/tmp/pthkd.stdout.log</string>

    <key>StandardErrorPath</key>
    <string>/tmp/pthkd.stderr.log</string>

    <key>WorkingDirectory</key>
    <string>/Applications/pthkd.app/Contents/MacOS</string>
</dict>
</plist>
